In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [20]:
df = pd.read_csv('./data/patient_data_combined.csv')

print(len(df))
df_icu = pd.read_csv('./data/icustays.csv')
df['subject_id_x'].equals(df['subject_id'])

73141

True

In [ ]:
df.corr()

In [24]:
len(df_icu)
df = df.merge(df_icu, on="stay_id")

/root/anaconda3/envs/tf1/lib/python3.7/site-packages/pandas/core/frame.py:9203: FutureWarning: Passing 'suffixes' which cause duplicate columns {'subject_id_x'} in the result is deprecated and will raise a MergeError in a future version.
  validate=validate,

In [25]:
df.columns

Index(['Unnamed: 0', 'subject_id_x', 'hadm_id_x', 'stay_id', 'oasis',
       'oasis_prob', 'age', 'age_score', 'preiculos', 'preiculos_score', 'gcs',
       'gcs_score', 'heartrate', 'heart_rate_score', 'meanbp', 'mbp_score',
       'resprate', 'resp_rate_score', 'temp', 'temp_score', 'urineoutput',
       'urineoutput_score', 'mechvent', 'mechvent_score', 'electivesurgery',
       'electivesurgery_score', 'gender', 'subject_id_y', 'admittime',
       'dischtime', 'deathtime', 'admission_type', 'admission_location',
       'discharge_location', 'insurance', 'language', 'marital_status', 'race',
       'edregtime', 'edouttime', 'hospital_expire_flag', 'subject_id_x',
       'charlson_comorbidity_index', 'subject_id_y', 'hadm_id_y',
       'first_careunit', 'last_careunit', 'intime', 'outtime', 'los'],
      dtype='object')

In [28]:
df_essential = df[['stay_id', 'age', 'gender', 'intime', 'outtime', 'deathtime', 'los', 'insurance', 'language', 'marital_status', 'race', 'discharge_location', 'charlson_comorbidity_index', 'hospital_expire_flag']]

In [29]:
df_essential

,stay_id,age,gender,intime,outtime,deathtime,los,insurance,language,marital_status,race,discharge_location,charlson_comorbidity_index,hospital_expire_flag
0,36415879,53.383987,M,2168-05-20 12:59:00,2168-05-27 19:08:12,NaN,7.256389,Other,ENGLISH,SINGLE,WHITE,HOME HEALTH CARE,5,0
1,30506515,87.667951,M,2147-09-02 00:08:00,2147-09-02 11:45:39,NaN,0.484479,Other,ENGLISH,MARRIED,WHITE,SKILLED NURSING FACILITY,4,0
2,37282334,84.659836,F,2115-08-30 11:55:49,2115-08-31 11:16:23,NaN,0.972616,Medicare,ENGLISH,DIVORCED,WHITE,NaN,5,0
3,35621403,75.150576,M,2148-03-02 09:10:58,2148-03-04 23:01:14,NaN,2.576574,Medicare,ENGLISH,SINGLE,WHITE,HOME HEALTH CARE,4,0
4,37292949,75.204410,M,2148-03-15 15:51:55,2148-03-17 17:34:42,NaN,2.071377,Medicare,ENGLISH,SINGLE,WHITE,SKILLED NURSING FACILITY,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73136,35813245,47.621032,M,2157-08-19 16:28:11,2157-08-21 14:41:35,NaN,1.925972,Other,ENGLISH,NaN,UNKNOWN,HOME HEALTH CARE,2,0
73137,38851647,91.249504,F,2146-04-02 04:44:05,2146-04-04 18:35:35,NaN,2.577431,Other,ENGLISH,WIDOWED,WHITE,HOME HEALTH CARE,7,0
73138,30318346,46.217122,F,2124-03-20 09:17:06,2124-03-21 17:20:26,NaN,1.335648,Other,ENGLISH,MARRIED,WHITE,HOME HEALTH CARE,1,0
73139,33919649,84.805218,F,2160-10-22 08:56:02,2160-10-24 18:07:48,NaN,2.383171,Other,ENGLISH,WIDOWED,WHITE,REHAB,8,0
73140,39627233,50.126044,M,2136-02-16 08:24:27,2136-02-21 11:38:49,NaN,5.134977,Medicare,ENGLISH,SINGLE,WHITE,SKILLED NURSING FACILITY,5,0

In [31]:
df_essential.to_csv("patient_data.csv")

In [36]:
df_essential[].unique()

array([53.38398727, 87.66795136, 84.65983649, ..., 46.21712203,
       84.80521773, 50.1260439 ])

In [52]:
nan_rows = df_essential[df_essential['hospital_expire_flag'].isnull()]

In [53]:
nan_rows

Empty DataFrame
Columns: [stay_id, age, gender, intime, outtime, deathtime, los, insurance, language, marital_status, race, discharge_location, charlson_comorbidity_index, hospital_expire_flag]
Index: []